<% layout('./layouts/boilerplate.ejs') %>
<div class="alert alert-danger w-50 mx-auto my-2" role="alert">
    <h4 class="alert-heading">Error <%= err.statusCode %></h4>
    <p><%= err.message %></p>
    <hr>
    <p><%= err.stack %></p>
</div>