<% layout('./layouts/boilerplate.ejs') %>
<section class="w-100 w-md-75 w-lg-50 mx-auto">
    <div class="d-flex justify-content-between mt-1 p-1">
        <a href="/trainingplans" class="btn btn-primary">Go Back</a>
        <label for="submit-btn" tabindex="0" class="btn btn-success">Create plan</label>
    </div>
    <form action="/trainingplans" method="POST" class="needs-validation p-1" novalidate>
        <button type="submit" id="submit-btn" hidden></button>
        <div class="input-group my-2">
            <span class="input-group-text" id="title">Title</span>
            <input type="text" class="form-control" name="trainingplan[title]" placeholder="New Training Program" aria-label="Title" aria-describedby="title" required>
        </div>
        <div class="input-group w-100 w-md-75 w-lg-50 mx-auto mb-2">
            <label class="input-group-text" for="level">Level</label>
            <select class="form-select" id="level" name="trainingplan[level]">
                <option value="beginner">beginner</option>
                <option value="intermediate">intermediate</option>
                <option value="advanced">advanced</option>
            </select>
        </div>
        <div class="d-flex flex-column flex-md-row">
            <div class="input-group mb-2 me-md-2">
                <span class="input-group-text" id="duration">Duration</span>
                <input type="number" class="form-control" name="trainingplan[duration]"  aria-label="Duration" aria-describedby="duration" min="1" max="52" step="1" required>
                <span class="input-group-text">weeks</span>
            </div>
            <div class="input-group mb-2 ms-md-2">
                <span class="input-group-text" id="days">Days</span>
                <input type="number" class="form-control" name="trainingplan[days]"  aria-label="Days" aria-describedby="days" min="1" max="7" step="1" required>
                <span class="input-group-text">/ week</span>
            </div>
        </div>
        <section>
            <% for( let i = 0; i < 12; i++ ) { %>
                <div class="d-flex flex-column flex-md-row mb-2 p-1 lightgray">
                    <div class="input-group">
                        <label class="input-group-text" for="exercises">Exercise</label>
                        <% if (i == 0) { %>
                        <select class="form-select" id="exercises" name="trainingplan[exercises]" required>
                            <option value="" selected>Choose exercise</option>
                            <% for(let exercise of exercisesList){ %>
                            <option value="<%= exercise %>"><%= exercise %></option>
                            <% } %>
                        </select>
                        <% } else { %>
                        <select class="form-select" id="exercises" name="trainingplan[exercises]">
                            <option value="" selected>Choose exercise</option>
                            <% for(let exercise of exercisesList){ %>
                            <option value="<%= exercise %>"><%= exercise %></option>
                            <% } %>
                        </select>
                        <% } %>
                    </div>
                    <div class="input-group">
                        <div class="input-group my-1 my-md-0 mx-md-2">
                            <span class="input-group-text" id="sets">Sets</span>
                            <% if (i == 0) { %>
                            <input type="number" class="form-control" name="trainingplan[sets]"  aria-label="Sets" aria-describedby="sets" min="1" max="20" step="1" required>
                            <% } else { %>
                            <input type="number" class="form-control" name="trainingplan[sets]"  aria-label="Sets" aria-describedby="sets" min="1" max="20" step="1">
                            <% } %>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-group">
                            <span class="input-group-text" id="reps">Reps</span>
                            <% if (i==0) { %>
                            <input type="number" class="form-control" name="trainingplan[reps]"  aria-label="Reps" aria-describedby="reps" min="1" max="100" step="1" required>
                            <% } else { %>
                            <input type="number" class="form-control" name="trainingplan[reps]"  aria-label="Reps" aria-describedby="reps" min="1" max="100" step="1">
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
    </form>
</section>